<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe evento</title>
</head>
<body>
    <h1>Evento de caridade</h1>
    <h3>Detalhes da enquetes #{{ evento.id }}</h3>
    <h3>{{ evento.nome }}</h3>
    <ul>
        {% for item in evento.item_set.all %}
        <label for="item{{ forloop.counter }}">{{ item.descricao }} -- Preço: R$ {{ item.valor | floatformat:2 }}</label><br/>
        {% endfor %}
    </ul>
    <hr/>
    <a href= "{% url 'caridade:index' %}">Voltar</a>
 </body>
</html>