<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Enquetes</title>
</head>
<body>
    <h1>Aplicação de Enquetes</h1>
    <h2>Listagem ddas Enquetes ENCERRADAS</h2>
    {% if lista_perguntas %}
        <ul>
            {% for pergunta in lista_perguntas %}
                <li><a href="{% url 'enquetes:detalhes' pergunta.id %}">
                    {{ pergunta.enunciado }}
                </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Nenhuma enquete encerrada até o momento.</h3>
    {% endif %}
    <hr/>
    <a href="{% url 'enquetes:index' %}">Voltar</a>
</body>
</html>