<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Enquetes</title>
</head>
<body>
    <h1>Aplicação de Enquetes</h1>
    <h3>Detalhes da enquetes #{{ pergunta.id }}</h3>
    <h3>{{ pergunta.enunciado }}</h3>
    <ul>
        {% for alt in pergunta.alternativa_set.all %}
            <li>{{ alt.texto }} -- {{ alt.quant_votos }} voto{{ alt.quant_votos | pluralize }}</li>
        {% endfor %}
    </ul>
    <hr/>
    <a href= "{% url 'enquetes:index' %}">Voltar</a>
    <a href= "{% url 'enquetes:detalhes' pergunta.id %}">Votar novamente!</a>
 </body>
</html>